[submodule "compare-environments"]
	path = compare-environments
	url = https://github.com/taka6745/compare-environments.git
[submodule "Change-Environments"]
	path = Change-Environments
	url = https://github.com/taka6745/Change-Environments.git
[submodule "CacheClearer"]
	path = CacheClearer
	url = https://github.com/taka6745/CacheClearer.git
